<h1>404 - That which you seek, cannot be found - 404</h1>
<p>The page you are looking for, while currently unfound, is much more likely to be found than these priceless works of art.</p>
<a id="link-back" href="">Return from whence you came</a>
<script src="../public/js/404.js"></script>
