<h2>Homepage is where the heart is
     still beating in a jar on my desk.</h2>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="views\dashboard.handlebars">Dashboard</a></li>
        <li><a href="views\login.handlebars">Login</a></li>
        <li><a href="views\register.handlebars">Register</a></li>
    </ul>
</nav>
<h3>The Church of Latter-Day Blog Posts</h3>
{{#each posts}}
    <div class="post">
        <h4>{{title}}</h4>
        <p>{{body}}</p>
    </div>
{{/each}}